<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Added Stock
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div *ngIf="!loading">
        <ion-list *ngFor="let user of boughtStock" tappable (click)="boughtDetail(user);">
            <ion-item>

                <ion-thumbnail slot="start">
                    <img src="../../assets/imgs/dashboard/accounting.png">
                </ion-thumbnail>

                <ion-label>
                    <h1>{{ user.name }} | ${{ user.amount }}</h1>
                    <h2 style="white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;">{{ user.description }}</h2>
                    <h2>date: {{ user.timestamp | date }} {{ user.timestamp | date: "shortTime" }}</h2>
                </ion-label>
                <ion-icon name="arrow-forward" item-right></ion-icon>

            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="loading">
        <div class="text-center" style="align-content: center;">
            <img class="ion-text-center" style="width: 100%;margin: auto;" src="assets/imgs/tenor.gif">
        </div>
    </div>
</ion-content>