<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Added Stock Details | {{ bought.name }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2 style="color:#2A1770;" text-center>Added Stock Details</h2>

    <ion-card>
        <ion-card-header>
            <h3 style="color:black; font-size:19px;">{{ bought.name }} | ${{ bought.amount }}</h3>
        </ion-card-header>
        <ion-card-content>
            <!-- <p> -->
            <h3 style="color:black; font-size:17px;">{{ bought.description }}</h3>
            <h3 style="color:black; font-size:17px;">Quantity: {{ bought.quantity }}</h3>
            <hr>

            <p style="color:black;">
                <ion-label>Posted on {{ bought.timestamp | date }} at {{ bought.timestamp | date:"shortTime" }}</ion-label>
            </p>
        </ion-card-content>
    </ion-card>


    <h2 style="color:#2A1770;" text-center>Sold Stock Details</h2>
    <div *ngIf="!loading2" class="text text-center myloader">
        <ion-card *ngIf="sold">
            <ion-card-header>
                <h3 style="color:black; font-size:19px;">Total Quantity Left: {{ bought.quantity - totalQuantitySold }}</h3>
            </ion-card-header>
            <ion-card-content>
                <!-- <p> -->
                <h3 style="color:black; font-size:17px;">Total Quantity Sold: {{ totalQuantitySold }}</h3>
                <h3 style="color:black; font-size:17px;">Total Amount Sold: {{ totalAmount }}</h3>
                <hr>

                <p style="color:black;" *ngIf="profitloss <= 0">
                    <ion-label style="background-color: red; font-weight: bold;color: white">Loss: $ {{ profitloss * -1 }}</ion-label>
                </p>

                <p style="color:black;" *ngIf="profitloss > 0">
                    <ion-label style="background-color: green;">Loss: $ {{ profitloss }}</ion-label>
                </p>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="loading2">
        <div class="text-center" style="align-content: center;">
            <img class="ion-text-center" style="width: 100%;margin: auto;" src="assets/imgs/tenor.gif">
        </div>
    </div>

</ion-content>