<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Add New Stock
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding animated fadeIn login auth-page">
    <div class="login-content" *ngIf="!loading">
        <form class="list-form">

            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="calendar" item-start class="text-warning"></ion-icon>
                    Date
                </ion-label>
                <ion-input type="date" [(ngModel)]="user.date" name="date"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="person" item-start class="text-warning"></ion-icon>
                    Name
                </ion-label>
                <ion-input type="text" [(ngModel)]="user.name" name="Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="chatbubbles" item-start class="text-warning"></ion-icon>
                    Description (Optional)
                </ion-label>
                <ion-input type="text" [(ngModel)]="user.description" name="description"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="briefcase" item-start class="text-warning"></ion-icon>
                    Quantity
                </ion-label>
                <ion-input type="number" [(ngModel)]="user.quantity" name="Quantity"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="cash" item-start class="text-warning"></ion-icon>
                    Amount (USD)
                </ion-label>
                <ion-input type="number" [(ngModel)]="user.amount" name="amount"></ion-input>
            </ion-item>


            <ion-item>
                <ion-label position="floating" style="color: #1a1aff;">
                    <ion-icon name="cash" item-start class="text-warning"></ion-icon>
                    Upload Invoice (Optional)
                </ion-label>
                <ion-button type="file" (click)="selectImage()" name="invoice">Open Camera</ion-button>
            </ion-item>

        </form>

        <div margin-top>

            <ion-list>
                <ion-item *ngFor="let file of images; let i = index">
                    <ion-thumbnail slot="start">
                        <ion-img [src]="file.data"></ion-img>
                    </ion-thumbnail>

                    <ion-label style="color: #1a1aff;" class="ion-text-wrap">
                        {{ file.name }}
                    </ion-label>

                    <ion-button slot="end" fill="clear" class="shary" shape="round" icon-start expand="block" color="warning" (click)="startUpload(file)">
                        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                    </ion-button>

                    <ion-button slot="end" fill="clear" class="shary" shape="round" icon-start expand="block" color="warning" (click)="deleteImage(file)">
                        <ion-icon slot="icon-only" name="trash"></ion-icon>
                    </ion-button>

                    <ion-button slot="end" fill="clear" class="shary" shape="round" icon-start expand="block" color="warning" tappable (click)="register(file);">
                        <ion-icon slot="icon-only" name="log-in"></ion-icon>
                        <p style="color: #1a1aff; ">Save Stock</p>
                    </ion-button>
                </ion-item>
            </ion-list>
        </div><br>
    </div>

    <div *ngIf="loading" class="text ion-text-center myloader">
        <img height="200" width="auto" src="assets/imgs/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>


    <!-- <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Please Select Image!</h3>

    <ion-list>
        <ion-item *ngFor="let file of images; let i = index">
            <ion-thumbnail slot="start">
                <ion-img [src]="file.data"></ion-img>
            </ion-thumbnail>
            <ion-label style="color: #1a1aff;" class="ion-text-wrap">
                {{ file.name }}
            </ion-label>
            <ion-button slot="end" fill="clear" class="shary" shape="round" icon-start expand="block" color="warning" (click)="startUpload(file)">
                <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
            </ion-button>
            <ion-button slot="end" fill="clear" class="shary" shape="round" icon-start expand="block" color="warning" (click)="deleteImage(file)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
            <ion-icon slot="start" name="camera"></ion-icon>
            Select Image
        </ion-button>
    </ion-toolbar>
</ion-footer> -->