<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button autoHide="false"></ion-back-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Financial Summary
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- <h2 class="header-style">Financial Summary / Profit or Loss $ {{ profitloss }}</h2> -->
    <h2 style="color:#2A1770;" class="ion-text-center">Financial Summary / Profit or Loss $ {{ profitloss }}</h2>
    <hr>




    <div class="row" *ngIf="!loading">

        <ion-card *ngIf="bought">
            <ion-card-header>
                <h3 style="color:black; font-size:19px;">Cash Out Flow: ${{ totalAmountBought }}</h3>
            </ion-card-header>
            <ion-card-content>
                <h3 style="color:black; font-size:17px;">Total Quantity Bought: {{ totalQuantityBought }}</h3>
                <!-- <h3 style="color:black; font-size:17px;">Cash Out Flow: {{ totalAmountBought }}</h3> -->
                <h3 style="color:black; font-size:17px;">Total Orders Made: {{ totalStockOrdered }}</h3>
                <hr>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngIf="loading" class="text text-center myloader">
        <img height="200" width="auto" src="assets/images/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>
    <br/>
    <hr>


    <h2 class="content-style">Sold Stock Details</h2>

    <div class="row mat-elevation-z8" *ngIf="!loading1">

        <ion-card *ngIf="bought">
            <ion-card-header>
                <h3 style="color:black; font-size:19px;">Cash In Flow: ${{ totalAmountSold }}</h3>
            </ion-card-header>
            <ion-card-content>
                <h3 style="color:black; font-size:17px;">Total items sold: {{ totalQuantitySold }}</h3>
                <h3 style="color:black; font-size:17px;" *ngIf="profitloss == 0">Profit / Loss: {{ profitloss }}</h3>
                <h3 style="color:black; font-size:17px;background-color: green;" *ngIf="profitloss > 0">Profit: {{ profitloss }}</h3>
                <h3 style="color:black; font-size:17px;background-color: red;" *ngIf="profitloss < 0">Loss: {{ profitloss }}</h3>
                <hr>
            </ion-card-content>
        </ion-card>

    </div>

    <div *ngIf="loading1" class="text text-center myloader">
        <img height="200" width="auto" src="assets/images/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>
</ion-content>