<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title" style="margin-right: 50px;" class="ion-text-center">
            Categories | {{ username }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/addstock/addstock-new']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/accounting.png">
                    <h3>Add Stock</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/sellstock/sellstock-new']">
                <ion-card>
                    <br>
                    <img src="./../../assets/imgs/dashboard/acquisition.png">
                    <h3>Sell Stock</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>


            <ion-col size="6" no-padding [routerLink]="['/addstock']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/budget.png">

                    <h3>View Added Stock</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/sellstock']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/growth.png">

                    <h3>View Sold Stock</h3>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" no-padding [routerLink]="['/financial-summary']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/financial-presentation.png">
                    <h3>Financial Summary</h3>
                </ion-card>
            </ion-col>

            <ion-col size="6" no-padding [routerLink]="['/tebs/teb3']">
                <ion-card>
                    <br>
                    <img src="assets/imgs/dashboard/patient.png">

                    <h3>Current Profile</h3>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>